:host {
	cursor: pointer;
}

svg {
	--checkStroke: var(--accentBackgroundColor);
	--checkFill: var(--accentBackgroundColor);
	--checkFillOpacity: 0;
	
	--markStroke: white;
	--markOpacity: 0;
}

:host(:hover) svg {
	--checkFillOpacity: .25;
}

:host([checked="true"]) svg {
	--checkFillOpacity: 1;
	--markOpacity: 1;
}
:host([checked="true"]:hover) svg {
	--checkFillOpacity: .75;
}
