:host > span {
	display: inline-flex;
	white-space: normal;
}

:host-context([block="true"]:not([link-state="error"])) > span {
	display: flex;
}

.website-preview {
	width: 100%;
	display: grid;
	grid-template-columns: auto 50%;
	grid-template-rows: auto auto;

	background: var(--backgroundColor);
	border-radius: var(--borderRadius);

	.info {

		padding: 0 1em;
		white-space: normal;

		h1 {
			font-size: 1.2em;
			font-weight: 500;
		}

		p {
			margin: 0;
			font-size: .8em;
			line-height: 1.5em;
			font-style: italic;

			/* Clamp multi-lin-text with elipses */
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 6;
			line-clamp: 6;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.image {
		grid-row: 1 / 3;
		grid-column: 2;
	
		min-height: 10em;
		border-top-right-radius: var(--borderRadius);
		border-bottom-right-radius: var(--borderRadius);
	}

	.link {
		grid-row: 2;
		grid-column: 1;

		display: flex;
		padding: .67em 1em .15em;
		align-items: center;
		gap: .25em;
		overflow: hidden;
		text-wrap: nowrap;
		
		&:hover {
			grid-column: 1 / 3;
		}
		
		span {
			font-size: .7em;
			color: var(--deemphasizedTextColor);
			text-shadow: var(--backgroundColor) 0 0 4px;

			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

.pdf {
	position: relative;
	width: 100%;
	min-height: 16em;
}

media-control-bar {
	--media-control-bar-display: flex;
}
